<!DOCTYPE html>
<html lang="en-us">
        
        <%- include('rotas/head') %>
        
        <div class="container-principal">

                <%- include('rotas/rotas'); %>     
                
        </div>
<%- include('partials/componentes/footer'); %>

</body>

</html>