<section class="contatos">  
        <span id="contatos" class="ancora"></span>
                                
  <div class="contatos__texto-box">
          <div class="contatos__texto">
                  <h2 class="contatos__titulo">Where</h2>
                  <p class="contatos__paragrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ipsa nostrum sint repellat numquam accusantium magnam, aspernatur dignissimos</p>
          </div>      
  </div>   

  <picture class="contatos__picture">
        <source srcset="img/index/contatos-desktop.jpg, img/index/contatos-desktop@2x.jpg 2x" media="(min-width: 800px)">
        <img width="1440" height="470" class="contatos__imagem" srcset="img/index/contatos-movel.jpg, img/index/contatos-movel@2x.jpg 2x" alt="foto da cachoeira em presidente figuereido">
  </picture>

<picture class="contatos__picture contatos__picture-movel">
        <img 
        srcset="
        img/index/contatos-movel-2.jpg 1x, 
        img/index/contatos-movel-2@2x.jpg 2x
        "
        class="contatos__imagem" src="img/index/contatos-movel-2.jpg" alt="foto da cachoeira em presidente figuereido"
        width="385"
        height="500">>
  </picture>

</section>