
<section class="quem">   
      <span id="quem" class="ancora"></span>

  <div class="quem__texto-box">
          <div class="quem__texto">
                  <h2 class="quem__titulo">About Us</h2>
                  <p class="quem__paragrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ipsa nostrum sint repellat numquam accusantium magnam, aspernatur dignissimos</p>
          </div>      
  </div>   

  <picture class="quem__picture">
        <source srcset="img/index/quem-desktop.jpg, img/index/quem-desktop@2x.jpg 2x" media="(min-width: 800px)">
        <img width="1440" height="470" class="quem__imagem" srcset="img/index/quem-movel.jpg, img/index/quem-movel@2x.jpg 2x" alt="foto da cachoeira em presidente figuereido">
  </picture>

  <picture class="quem__picture quem__picture-movel">
        <img 
        srcset="
        img/index/quem-movel-2.jpg 1x, 
        img/index/quem-movel-2@2x.jpg 2x
        "
        class="quem__imagem" src="img/index/quem-movel-2.jpg" alt="foto da cachoeira em presidente figuereido"
        width="385"
        height="500">
  </picture>
  
</section>