
<section class="testemunhos">
  <span id="testemunhos" class="ancora"></span>

  <div class="testemunhos__texto-topo">
    <h2 class="testemunhos__titulo">Testimonials</h2>
  </div>

  <div class="testemunhos__cards">
      
   <div class="testemunhos__card">

    <picture class="rotas__card--picture">
      <img 
      srcset="
      img/index/index-relato-1.jpg 1x, 
      img/index/index-relato-1@2x.jpg 2x
      "
      class="rotas__card--img" src="img/index/index-relato-1.jpg" alt="foto da cachoeira em presidente figuereido"
      width="218"
      height="385">
    </picture>

    <div class="testemunhos__card--box-informacoes">
      <div class="testemunhos__card--texto">“Quisque in lacus a urna fermentum euismod. Integer mi nibh, dapibus ac scelerisque eu, facilisis quis purus. Morbi blandit sit amet turpis nec”</div>

      <div class="testemunhos__card--dados">
        <div class="testemunhos__card--stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
        <div class="testemunhos__card--nome">Bruno Barros</div>
        <div class="testemunhos__card--local">Brasilia</div>
      </div>
    </div>    

   </div>


   <div class="testemunhos__card">

    <picture class="rotas__card--picture">
      <img 
      srcset="
      img/index/index-relato-2.jpg 1x, 
      img/index/index-relato-2@2x.jpg 2x
      "
      class="rotas__card--img" src="img/index/index-relato-2.jpg" alt="foto da cachoeira em presidente figuereido"
      width="218"
      height="385">
    </picture>

    <div class="testemunhos__card--box-informacoes">
      <div class="testemunhos__card--texto">“Quisque in lacus a urna fermentum euismod. Integer mi nibh, dapibus ac scelerisque eu, facilisis quis purus. Morbi blandit sit amet turpis nec”</div>

      <div class="testemunhos__card--dados">
        <div class="testemunhos__card--stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
        <div class="testemunhos__card--nome">Carla Barros</div>
        <div class="testemunhos__card--local">São Paulo</div>
      </div>
    </div>    

   </div>

    
  </div> 

</section>