
<section class="rotas">

  <div class="rotas__texto-topo">
    <h2 class="rotas__titulo">All available trails. If you have any question, reach us out!</h2>
    <p class="rotas__sub-titulo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum vel doloribus aperiam voluptatum tenetur ut. Blanditiis quis expedita autem fugiat!.</p>
     <div class="rotas__botoes">
      <button class="rotas__botoes--botao rotas__botoes--call">                                        
              <a class="rotas__botoes--link" href="https://api.whatsapp.com/send?phone=559293590738">
                      <span class="rotas__botoes--icone">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white"><path d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"/></svg>  
                      </span>
                      Contact
              </a>
      </button>
    </div>
  </div>

  <div class="rotas__cards">
      
    <div class="rotas__card"><a class="rotas__card--link" href="/rotas/rota-01">waterfall trail 1</a>        
      <div class="rotas__card--tag">
        <span class="rotas__card--svg">
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.1421 6.14215C13.1421 6.9378 12.826 7.70086 12.2634 8.26347C11.7008 8.82608 10.9377 9.14215 10.1421 9.14215C9.34644 9.14215 8.58338 8.82608 8.02077 8.26347C7.45816 7.70086 7.14209 6.9378 7.14209 6.14215C7.14209 5.3465 7.45816 4.58344 8.02077 4.02083C8.58338 3.45822 9.34644 3.14215 10.1421 3.14215C10.9377 3.14215 11.7008 3.45822 12.2634 4.02083C12.826 4.58344 13.1421 5.3465 13.1421 6.14215Z" fill="#295293"/>
            <path d="M18.1421 8.14215C18.1421 8.67258 17.9314 9.18129 17.5563 9.55636C17.1812 9.93144 16.6725 10.1422 16.1421 10.1422C15.6117 10.1422 15.1029 9.93144 14.7279 9.55636C14.3528 9.18129 14.1421 8.67258 14.1421 8.14215C14.1421 7.61172 14.3528 7.10301 14.7279 6.72794C15.1029 6.35286 15.6117 6.14215 16.1421 6.14215C16.6725 6.14215 17.1812 6.35286 17.5563 6.72794C17.9314 7.10301 18.1421 7.61172 18.1421 8.14215Z" fill="#295293"/>
            <path d="M14.1421 15.1422C14.1421 14.0813 13.7207 13.0639 12.9705 12.3137C12.2204 11.5636 11.203 11.1422 10.1421 11.1422C9.08122 11.1422 8.06381 11.5636 7.31366 12.3137C6.56352 13.0639 6.14209 14.0813 6.14209 15.1422V18.1422H14.1421V15.1422Z" fill="#295293"/>
            <path d="M6.14209 8.14215C6.14209 8.67258 5.93138 9.18129 5.5563 9.55636C5.18123 9.93144 4.67252 10.1422 4.14209 10.1422C3.61166 10.1422 3.10295 9.93144 2.72788 9.55636C2.3528 9.18129 2.14209 8.67258 2.14209 8.14215C2.14209 7.61172 2.3528 7.10301 2.72788 6.72794C3.10295 6.35286 3.61166 6.14215 4.14209 6.14215C4.67252 6.14215 5.18123 6.35286 5.5563 6.72794C5.93138 7.10301 6.14209 7.61172 6.14209 8.14215Z" fill="#295293"/>
            <path d="M16.1421 18.1421V15.1421C16.1435 14.1254 15.8854 13.1252 15.3921 12.2361C15.8354 12.1227 16.2988 12.112 16.747 12.2049C17.1951 12.2977 17.616 12.4917 17.9778 12.7721C18.3395 13.0524 18.6324 13.4116 18.8342 13.8224C19.036 14.2331 19.1413 14.6845 19.1421 15.1421V18.1421H16.1421Z" fill="#295293"/>
            <path d="M4.89209 12.2362C4.39884 13.1252 4.14069 14.1255 4.14209 15.1422V18.1422H1.14209V15.1422C1.1419 14.6842 1.24655 14.2323 1.44804 13.821C1.64952 13.4098 1.94248 13.0501 2.30447 12.7696C2.66646 12.4891 3.08787 12.2951 3.5364 12.2027C3.98493 12.1102 4.44867 12.1217 4.89209 12.2362Z" fill="#295293"/>
          </svg>
        </span>
        <p class="rotas__card--dificuldade">Familly- 4Km</p>
      </div>

      <div class="rotas__card--picture">
        <video class="rotas__card--img" autoplay muted loop>
                <source src="videos/index/video01.webm" type="video/webm">
                <source src="videos/index/video01.mp4" type="video/mp4">
        </video>
      </div> 

      <div class="rotas__card--descricao">
        <div class="rotas__card--nome">Trail 1</div>
        <div class="rotas__card--preco">USD$200</div>
      </div>
    
      <div class="rotas__card--detalhes">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
    </div>


    <div class="rotas__card"><a class="rotas__card--link" href="/rotas/rota-01">waterfall trail 1</a>        
      <div class="rotas__card--tag">
        <span class="rotas__card--svg">
          <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.92124 6.79793L5.71825 4.76628C6.03224 4.5365 6.41414 4.41852 6.80302 4.43116C7.27734 4.44299 7.73619 4.60231 8.11578 4.88696C8.49537 5.17162 8.77685 5.56747 8.92107 6.01948C9.08339 6.52827 9.23175 6.87211 9.36615 7.05102C9.77223 7.59279 10.299 8.03246 10.9046 8.33514C11.5103 8.63781 12.1781 8.79515 12.8552 8.79468V10.5401C11.954 10.5411 11.0637 10.3422 10.2485 9.95787C9.43336 9.57352 8.71354 9.01323 8.14087 8.31731L7.5326 11.7688L9.33124 13.2786L11.2713 18.6091L9.63058 19.206L7.85026 14.3154L4.8918 11.8326C4.64901 11.6365 4.46323 11.3789 4.35379 11.0867C4.24435 10.7945 4.21527 10.4782 4.26956 10.1709L4.71377 7.65318L4.12295 8.08255L2.26671 10.6378L0.854675 9.61153L2.9064 6.78746L2.92124 6.79793ZM8.05535 3.99481C7.59244 3.99481 7.14849 3.81092 6.82116 3.48359C6.49383 3.15627 6.30994 2.71231 6.30994 2.2494C6.30994 1.78649 6.49383 1.34254 6.82116 1.01522C7.14849 0.687888 7.59244 0.503998 8.05535 0.503998C8.51826 0.503998 8.96221 0.687888 9.28954 1.01522C9.61686 1.34254 9.80075 1.78649 9.80075 2.2494C9.80075 2.71231 9.61686 3.15627 9.28954 3.48359C8.96221 3.81092 8.51826 3.99481 8.05535 3.99481ZM5.46168 15.4979L2.65681 18.8404L1.31983 17.7189L3.91699 14.6243L4.56803 12.7218L6.13104 14.0309L5.46168 15.4979Z" fill="#295293"/>
            </svg>
            
        </span>
        <p class="rotas__card--dificuldade">Medium - 9Km</p>
      </div>

      <picture class="rotas__card--picture">
        <img 
        srcset="
        img/index/index-rota-2.jpg 1x, 
        img/index/index-rota-2@2x.jpg 2x
        "
        class="rotas__card--img" src="img/index/index-rota-2.jpg" alt="foto da cachoeira em presidente figuereido"
        width="218"
        height="385">
      </picture>

      <div class="rotas__card--descricao">
        <div class="rotas__card--nome">Trail 1</div>
        <div class="rotas__card--preco">USD$200</div>
      </div>
    
      <div class="rotas__card--detalhes">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
    </div>


    <div class="rotas__card"><a class="rotas__card--link" href="/rotas/rota-01">waterfall trail 1</a>        
      <div class="rotas__card--tag">
        <span class="rotas__card--svg">
          <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.4277 5.43622C17.6238 5.43622 15.7488 9.18622 15.7488 9.18622C15.7488 9.18622 13.8738 5.43622 10.0699 5.43622C6.97846 5.43622 4.53041 8.02255 4.49877 11.1087C4.43431 17.5147 9.5806 22.0704 15.2214 25.8989C15.3769 26.0047 15.5607 26.0613 15.7488 26.0613C15.9369 26.0613 16.1206 26.0047 16.2761 25.8989C21.9163 22.0704 27.0626 17.5147 26.9988 11.1087C26.9671 8.02255 24.5191 5.43622 21.4277 5.43622V5.43622Z" stroke="#295293" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M3.56128 15.7487H10.1238L12.9363 10.1237L15.7488 19.4987L18.5613 13.8737L20.4363 17.6237H27.9363" stroke="#295293" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            
        </span>
        <p class="rotas__card--dificuldade">Adventure - 26Km</p>
      </div>

      <picture class="rotas__card--picture">
        <img 
        srcset="
        img/index/index-rota-3.jpg 1x, 
        img/index/index-rota-3@2x.jpg 2x
        "
        class="rotas__card--img" src="img/index/index-rota-3.jpg" alt="foto da cachoeira em presidente figuereido"
        width="218"
        height="385">
      </picture>

      <div class="rotas__card--descricao">
        <div class="rotas__card--nome">Trail 1</div>
        <div class="rotas__card--preco">USD$200</div>
      </div>
    
      <div class="rotas__card--detalhes">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
    </div>


    <div class="rotas__card"><a class="rotas__card--link" href="/rotas/rota-01">waterfall trail 1</a>        
      <div class="rotas__card--tag">
        <span class="rotas__card--svg">
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.1421 6.14215C13.1421 6.9378 12.826 7.70086 12.2634 8.26347C11.7008 8.82608 10.9377 9.14215 10.1421 9.14215C9.34644 9.14215 8.58338 8.82608 8.02077 8.26347C7.45816 7.70086 7.14209 6.9378 7.14209 6.14215C7.14209 5.3465 7.45816 4.58344 8.02077 4.02083C8.58338 3.45822 9.34644 3.14215 10.1421 3.14215C10.9377 3.14215 11.7008 3.45822 12.2634 4.02083C12.826 4.58344 13.1421 5.3465 13.1421 6.14215Z" fill="#295293"/>
            <path d="M18.1421 8.14215C18.1421 8.67258 17.9314 9.18129 17.5563 9.55636C17.1812 9.93144 16.6725 10.1422 16.1421 10.1422C15.6117 10.1422 15.1029 9.93144 14.7279 9.55636C14.3528 9.18129 14.1421 8.67258 14.1421 8.14215C14.1421 7.61172 14.3528 7.10301 14.7279 6.72794C15.1029 6.35286 15.6117 6.14215 16.1421 6.14215C16.6725 6.14215 17.1812 6.35286 17.5563 6.72794C17.9314 7.10301 18.1421 7.61172 18.1421 8.14215Z" fill="#295293"/>
            <path d="M14.1421 15.1422C14.1421 14.0813 13.7207 13.0639 12.9705 12.3137C12.2204 11.5636 11.203 11.1422 10.1421 11.1422C9.08122 11.1422 8.06381 11.5636 7.31366 12.3137C6.56352 13.0639 6.14209 14.0813 6.14209 15.1422V18.1422H14.1421V15.1422Z" fill="#295293"/>
            <path d="M6.14209 8.14215C6.14209 8.67258 5.93138 9.18129 5.5563 9.55636C5.18123 9.93144 4.67252 10.1422 4.14209 10.1422C3.61166 10.1422 3.10295 9.93144 2.72788 9.55636C2.3528 9.18129 2.14209 8.67258 2.14209 8.14215C2.14209 7.61172 2.3528 7.10301 2.72788 6.72794C3.10295 6.35286 3.61166 6.14215 4.14209 6.14215C4.67252 6.14215 5.18123 6.35286 5.5563 6.72794C5.93138 7.10301 6.14209 7.61172 6.14209 8.14215Z" fill="#295293"/>
            <path d="M16.1421 18.1421V15.1421C16.1435 14.1254 15.8854 13.1252 15.3921 12.2361C15.8354 12.1227 16.2988 12.112 16.747 12.2049C17.1951 12.2977 17.616 12.4917 17.9778 12.7721C18.3395 13.0524 18.6324 13.4116 18.8342 13.8224C19.036 14.2331 19.1413 14.6845 19.1421 15.1421V18.1421H16.1421Z" fill="#295293"/>
            <path d="M4.89209 12.2362C4.39884 13.1252 4.14069 14.1255 4.14209 15.1422V18.1422H1.14209V15.1422C1.1419 14.6842 1.24655 14.2323 1.44804 13.821C1.64952 13.4098 1.94248 13.0501 2.30447 12.7696C2.66646 12.4891 3.08787 12.2951 3.5364 12.2027C3.98493 12.1102 4.44867 12.1217 4.89209 12.2362Z" fill="#295293"/>
          </svg>
        </span>
        <p class="rotas__card--dificuldade">Familly- 4Km</p>
      </div>

      <picture class="rotas__card--picture">
        <img 
        srcset="
        img/index/index-rota-4.jpg 1x, 
        img/index/index-rota-4@2x.jpg 2x
        "
        class="rotas__card--img" src="img/index/index-rota-4.jpg" alt="foto da cachoeira em presidente figuereido"
        width="218"
        height="385">
      </picture>

      <div class="rotas__card--descricao">
        <div class="rotas__card--nome">Trail 1</div>
        <div class="rotas__card--preco">USD$200</div>
      </div>
    
      <div class="rotas__card--detalhes">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
    </div>





    <div class="rotas__card"><a class="rotas__card--link" href="/rotas/rota-01">waterfall trail 1</a>        
      <div class="rotas__card--tag">
        <span class="rotas__card--svg">
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.1421 6.14215C13.1421 6.9378 12.826 7.70086 12.2634 8.26347C11.7008 8.82608 10.9377 9.14215 10.1421 9.14215C9.34644 9.14215 8.58338 8.82608 8.02077 8.26347C7.45816 7.70086 7.14209 6.9378 7.14209 6.14215C7.14209 5.3465 7.45816 4.58344 8.02077 4.02083C8.58338 3.45822 9.34644 3.14215 10.1421 3.14215C10.9377 3.14215 11.7008 3.45822 12.2634 4.02083C12.826 4.58344 13.1421 5.3465 13.1421 6.14215Z" fill="#295293"/>
            <path d="M18.1421 8.14215C18.1421 8.67258 17.9314 9.18129 17.5563 9.55636C17.1812 9.93144 16.6725 10.1422 16.1421 10.1422C15.6117 10.1422 15.1029 9.93144 14.7279 9.55636C14.3528 9.18129 14.1421 8.67258 14.1421 8.14215C14.1421 7.61172 14.3528 7.10301 14.7279 6.72794C15.1029 6.35286 15.6117 6.14215 16.1421 6.14215C16.6725 6.14215 17.1812 6.35286 17.5563 6.72794C17.9314 7.10301 18.1421 7.61172 18.1421 8.14215Z" fill="#295293"/>
            <path d="M14.1421 15.1422C14.1421 14.0813 13.7207 13.0639 12.9705 12.3137C12.2204 11.5636 11.203 11.1422 10.1421 11.1422C9.08122 11.1422 8.06381 11.5636 7.31366 12.3137C6.56352 13.0639 6.14209 14.0813 6.14209 15.1422V18.1422H14.1421V15.1422Z" fill="#295293"/>
            <path d="M6.14209 8.14215C6.14209 8.67258 5.93138 9.18129 5.5563 9.55636C5.18123 9.93144 4.67252 10.1422 4.14209 10.1422C3.61166 10.1422 3.10295 9.93144 2.72788 9.55636C2.3528 9.18129 2.14209 8.67258 2.14209 8.14215C2.14209 7.61172 2.3528 7.10301 2.72788 6.72794C3.10295 6.35286 3.61166 6.14215 4.14209 6.14215C4.67252 6.14215 5.18123 6.35286 5.5563 6.72794C5.93138 7.10301 6.14209 7.61172 6.14209 8.14215Z" fill="#295293"/>
            <path d="M16.1421 18.1421V15.1421C16.1435 14.1254 15.8854 13.1252 15.3921 12.2361C15.8354 12.1227 16.2988 12.112 16.747 12.2049C17.1951 12.2977 17.616 12.4917 17.9778 12.7721C18.3395 13.0524 18.6324 13.4116 18.8342 13.8224C19.036 14.2331 19.1413 14.6845 19.1421 15.1421V18.1421H16.1421Z" fill="#295293"/>
            <path d="M4.89209 12.2362C4.39884 13.1252 4.14069 14.1255 4.14209 15.1422V18.1422H1.14209V15.1422C1.1419 14.6842 1.24655 14.2323 1.44804 13.821C1.64952 13.4098 1.94248 13.0501 2.30447 12.7696C2.66646 12.4891 3.08787 12.2951 3.5364 12.2027C3.98493 12.1102 4.44867 12.1217 4.89209 12.2362Z" fill="#295293"/>
          </svg>
        </span>
        <p class="rotas__card--dificuldade">Familly- 4Km</p>
      </div>

      <div class="rotas__card--picture">
        <video class="rotas__card--img" autoplay muted loop>
                <source src="videos/index/video01.webm" type="video/webm">
                <source src="videos/index/video01.mp4" type="video/mp4">
        </video>
      </div> 

      <div class="rotas__card--descricao">
        <div class="rotas__card--nome">Trail 1</div>
        <div class="rotas__card--preco">USD$200</div>
      </div>
    
      <div class="rotas__card--detalhes">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
    </div>


    <div class="rotas__card"><a class="rotas__card--link" href="/rotas/rota-01">waterfall trail 1</a>        
      <div class="rotas__card--tag">
        <span class="rotas__card--svg">
          <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.92124 6.79793L5.71825 4.76628C6.03224 4.5365 6.41414 4.41852 6.80302 4.43116C7.27734 4.44299 7.73619 4.60231 8.11578 4.88696C8.49537 5.17162 8.77685 5.56747 8.92107 6.01948C9.08339 6.52827 9.23175 6.87211 9.36615 7.05102C9.77223 7.59279 10.299 8.03246 10.9046 8.33514C11.5103 8.63781 12.1781 8.79515 12.8552 8.79468V10.5401C11.954 10.5411 11.0637 10.3422 10.2485 9.95787C9.43336 9.57352 8.71354 9.01323 8.14087 8.31731L7.5326 11.7688L9.33124 13.2786L11.2713 18.6091L9.63058 19.206L7.85026 14.3154L4.8918 11.8326C4.64901 11.6365 4.46323 11.3789 4.35379 11.0867C4.24435 10.7945 4.21527 10.4782 4.26956 10.1709L4.71377 7.65318L4.12295 8.08255L2.26671 10.6378L0.854675 9.61153L2.9064 6.78746L2.92124 6.79793ZM8.05535 3.99481C7.59244 3.99481 7.14849 3.81092 6.82116 3.48359C6.49383 3.15627 6.30994 2.71231 6.30994 2.2494C6.30994 1.78649 6.49383 1.34254 6.82116 1.01522C7.14849 0.687888 7.59244 0.503998 8.05535 0.503998C8.51826 0.503998 8.96221 0.687888 9.28954 1.01522C9.61686 1.34254 9.80075 1.78649 9.80075 2.2494C9.80075 2.71231 9.61686 3.15627 9.28954 3.48359C8.96221 3.81092 8.51826 3.99481 8.05535 3.99481ZM5.46168 15.4979L2.65681 18.8404L1.31983 17.7189L3.91699 14.6243L4.56803 12.7218L6.13104 14.0309L5.46168 15.4979Z" fill="#295293"/>
            </svg>
            
        </span>
        <p class="rotas__card--dificuldade">Medium - 9Km</p>
      </div>

      <picture class="rotas__card--picture">
        <img 
        srcset="
        img/index/index-rota-2.jpg 1x, 
        img/index/index-rota-2@2x.jpg 2x
        "
        class="rotas__card--img" src="img/index/index-rota-2.jpg" alt="foto da cachoeira em presidente figuereido"
        width="218"
        height="385">
      </picture>

      <div class="rotas__card--descricao">
        <div class="rotas__card--nome">Trail 1</div>
        <div class="rotas__card--preco">USD$200</div>
      </div>
    
      <div class="rotas__card--detalhes">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
    </div>


    <div class="rotas__card"><a class="rotas__card--link" href="/rotas/rota-01">waterfall trail 1</a>        
      <div class="rotas__card--tag">
        <span class="rotas__card--svg">
          <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.4277 5.43622C17.6238 5.43622 15.7488 9.18622 15.7488 9.18622C15.7488 9.18622 13.8738 5.43622 10.0699 5.43622C6.97846 5.43622 4.53041 8.02255 4.49877 11.1087C4.43431 17.5147 9.5806 22.0704 15.2214 25.8989C15.3769 26.0047 15.5607 26.0613 15.7488 26.0613C15.9369 26.0613 16.1206 26.0047 16.2761 25.8989C21.9163 22.0704 27.0626 17.5147 26.9988 11.1087C26.9671 8.02255 24.5191 5.43622 21.4277 5.43622V5.43622Z" stroke="#295293" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M3.56128 15.7487H10.1238L12.9363 10.1237L15.7488 19.4987L18.5613 13.8737L20.4363 17.6237H27.9363" stroke="#295293" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            
        </span>
        <p class="rotas__card--dificuldade">Adventure - 26Km</p>
      </div>

      <picture class="rotas__card--picture">
        <img 
        srcset="
        img/index/index-rota-3.jpg 1x, 
        img/index/index-rota-3@2x.jpg 2x
        "
        class="rotas__card--img" src="img/index/index-rota-3.jpg" alt="foto da cachoeira em presidente figuereido"
        width="218"
        height="385">
      </picture>

      <div class="rotas__card--descricao">
        <div class="rotas__card--nome">Trail 1</div>
        <div class="rotas__card--preco">USD$200</div>
      </div>
    
      <div class="rotas__card--detalhes">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
    </div>


    <div class="rotas__card"><a class="rotas__card--link" href="/rotas/rota-01">waterfall trail 1</a>        
      <div class="rotas__card--tag">
        <span class="rotas__card--svg">
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.1421 6.14215C13.1421 6.9378 12.826 7.70086 12.2634 8.26347C11.7008 8.82608 10.9377 9.14215 10.1421 9.14215C9.34644 9.14215 8.58338 8.82608 8.02077 8.26347C7.45816 7.70086 7.14209 6.9378 7.14209 6.14215C7.14209 5.3465 7.45816 4.58344 8.02077 4.02083C8.58338 3.45822 9.34644 3.14215 10.1421 3.14215C10.9377 3.14215 11.7008 3.45822 12.2634 4.02083C12.826 4.58344 13.1421 5.3465 13.1421 6.14215Z" fill="#295293"/>
            <path d="M18.1421 8.14215C18.1421 8.67258 17.9314 9.18129 17.5563 9.55636C17.1812 9.93144 16.6725 10.1422 16.1421 10.1422C15.6117 10.1422 15.1029 9.93144 14.7279 9.55636C14.3528 9.18129 14.1421 8.67258 14.1421 8.14215C14.1421 7.61172 14.3528 7.10301 14.7279 6.72794C15.1029 6.35286 15.6117 6.14215 16.1421 6.14215C16.6725 6.14215 17.1812 6.35286 17.5563 6.72794C17.9314 7.10301 18.1421 7.61172 18.1421 8.14215Z" fill="#295293"/>
            <path d="M14.1421 15.1422C14.1421 14.0813 13.7207 13.0639 12.9705 12.3137C12.2204 11.5636 11.203 11.1422 10.1421 11.1422C9.08122 11.1422 8.06381 11.5636 7.31366 12.3137C6.56352 13.0639 6.14209 14.0813 6.14209 15.1422V18.1422H14.1421V15.1422Z" fill="#295293"/>
            <path d="M6.14209 8.14215C6.14209 8.67258 5.93138 9.18129 5.5563 9.55636C5.18123 9.93144 4.67252 10.1422 4.14209 10.1422C3.61166 10.1422 3.10295 9.93144 2.72788 9.55636C2.3528 9.18129 2.14209 8.67258 2.14209 8.14215C2.14209 7.61172 2.3528 7.10301 2.72788 6.72794C3.10295 6.35286 3.61166 6.14215 4.14209 6.14215C4.67252 6.14215 5.18123 6.35286 5.5563 6.72794C5.93138 7.10301 6.14209 7.61172 6.14209 8.14215Z" fill="#295293"/>
            <path d="M16.1421 18.1421V15.1421C16.1435 14.1254 15.8854 13.1252 15.3921 12.2361C15.8354 12.1227 16.2988 12.112 16.747 12.2049C17.1951 12.2977 17.616 12.4917 17.9778 12.7721C18.3395 13.0524 18.6324 13.4116 18.8342 13.8224C19.036 14.2331 19.1413 14.6845 19.1421 15.1421V18.1421H16.1421Z" fill="#295293"/>
            <path d="M4.89209 12.2362C4.39884 13.1252 4.14069 14.1255 4.14209 15.1422V18.1422H1.14209V15.1422C1.1419 14.6842 1.24655 14.2323 1.44804 13.821C1.64952 13.4098 1.94248 13.0501 2.30447 12.7696C2.66646 12.4891 3.08787 12.2951 3.5364 12.2027C3.98493 12.1102 4.44867 12.1217 4.89209 12.2362Z" fill="#295293"/>
          </svg>
        </span>
        <p class="rotas__card--dificuldade">Familly- 4Km</p>
      </div>

      <picture class="rotas__card--picture">
        <img 
        srcset="
        img/index/index-rota-4.jpg 1x, 
        img/index/index-rota-4@2x.jpg 2x
        "
        class="rotas__card--img" src="img/index/index-rota-4.jpg" alt="foto da cachoeira em presidente figuereido"
        width="218"
        height="385">
      </picture>

      <div class="rotas__card--descricao">
        <div class="rotas__card--nome">Trail 1</div>
        <div class="rotas__card--preco">USD$200</div>
      </div>
    
      <div class="rotas__card--detalhes">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
    </div>


    


    
  </div> 
</section>