<!doctype html>
<html ⚡>
  <head>

    <!-- Primary Meta Tags -->
    <title>JuJu Tour</title>
    <meta name="title" content="Juju Tour">
    <meta name="description" content="Com a JuJu Tour sua próxima aventura na amazônia será inesquecível.">         
    <meta property="og:site_name" content="cronosinvestimentos.com.br" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://jujutour.herokuapp.com/rotas/rota-01">
    <meta property="og:title" content="Juju Tour">
    <meta property="og:description" content="Com a JuJu Tour sua próxima aventura na amazônia será inesquecível.">
    <meta property="og:image" content="https://jujutour.herokuapp.com/videos/rotas/rota-01-01.jpg">
    <meta property="og:image:type" content="image/jpeg">  

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://jujutour.herokuapp.com/">
    <meta property="twitter:title" content="Juju Tour">
    <meta property="twitter:description" content="Com a JuJu Tour sua próxima aventura na amazônia será inesquecível.">
    <meta property="twitter:image" content="https://jujutour.herokuapp.com/videos/rotas/rota-01-01.jpg">
        
    <meta name="robots" content="index, follow">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta property="fb:app_id" content="705927730268462" />


    <meta charset="utf-8">
    <title>JuJu Tour</title>
    <link rel="canonical" href="/rotas/rota-1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-story" src="https://cdn.ampproject.org/v0/amp-story-1.0.js"></script>
    <script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>

    <style amp-custom> 
    <%- include('../../partials/styles/style-stories.ejs') %> 
    </style>
    
  </head>
  <body>
    <amp-story  standalone
                title="Juju Tour"
                publisher="Juju Tour"
                publisher-logo-src="/svg/juju_icon.svg"
                poster-portrait-src="/videos/rotas/rota-01-01.jpg">

                <amp-story-page auto-advance-after="15s" id="cover">

                  <amp-story-grid-layer template="fill">
                    <amp-video 
                    width="720"
                    height="1280"
                    layout="responsive"
                    poster="/videos/rotas/rota-01-01.jpg"
                    autoplay
                    loop>
                    <source src="/videos/rotas/rota-01-01.mp4"
                      type="video/mp4" />
                      <div fallback>
                        <p>Seu browser não suporta este tipo de vídeo</p>
                      </div>
                    </amp-video>
                    
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="fill">
                    <p class="fundo-padrao"></p>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="vertical">
                    <h1
                    animate-in="fly-in-left"
                    animate-in-delay=".8s"
                    animate-in-duration="1s">JuJu Tour</h1>
                    <p
                    animate-in="fly-in-left"
                    animate-in-delay=".7s"
                    animate-in-duration="1s">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, impedit?</p>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="vertical" class="bottom">
                    
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488.29 488.53" width="65" height="65" ><g id="Layer_2" data-name="Layer 2"><g id="Juju_Logo" data-name="Juju Logo"><circle cx="244.15" cy="244.15" r="244.15" style="fill:#fff"/><path d="M123,299.78l-13.86-5.86L97.4,289.65l-21.86,6.4L51,289.65,4.5,292.21A244.7,244.7,0,0,0,128.85,459.66V356.28l13.86-20.79-10.13-26.12Z" style="fill:#085126"/><path d="M365.73,299.78l13.86-5.86,11.72-4.27,21.86,6.4,24.52-6.4,46.52,2.56A244.7,244.7,0,0,1,359.86,459.66V356.28L346,335.49l10.13-26.12Z" style="fill:#085126"/><path d="M244.36,440.86H109v6.88a243.26,243.26,0,0,0,135.2,40.79h.41a243.26,243.26,0,0,0,135.2-40.79v-6.88Z" style="fill:#3a76ba"/><path d="M193.64,190.49q-6.1-6.77-6.1-20.1v-71h19.79V169.6a22,22,0,0,0,.94,7.23,4.45,4.45,0,0,0,8.06,0,21.77,21.77,0,0,0,.95-7.28V99.34h19.79v71q0,13.32-6.1,20.1t-18.67,6.78Q199.75,197.27,193.64,190.49Z" style="fill:#441f00"/><path d="M310.9,190.59q-6.11-6.76-6.1-20.1V99.44h19.79V169.7a21.66,21.66,0,0,0,1,7.23,4.44,4.44,0,0,0,8,0,21.51,21.51,0,0,0,1-7.28V99.44h19.79v71.05q0,13.32-6.1,20.1t-18.66,6.78Q317,197.37,310.9,190.59Z" style="fill:#441f00"/><path d="M158,99.44V174.1a6.28,6.28,0,0,1-1.13,4A4.76,4.76,0,0,1,150,178a6.8,6.8,0,0,1-1.13-4.12V150.72h-20V175a21.78,21.78,0,0,0,3.26,12.14,20.57,20.57,0,0,0,8.94,7.62,30,30,0,0,0,12.68,2.6,26.17,26.17,0,0,0,12.86-3.1,22,22,0,0,0,8.77-8.82,27.09,27.09,0,0,0,3.14-13.27V99.44Z" style="fill:#441f00"/><path d="M275.26,99.44V174.1a6.28,6.28,0,0,1-1.13,4,4.76,4.76,0,0,1-6.87-.11,6.8,6.8,0,0,1-1.13-4.12V150.72h-20V175a21.86,21.86,0,0,0,3.26,12.14,20.57,20.57,0,0,0,8.94,7.62,30.08,30.08,0,0,0,12.68,2.6,26.17,26.17,0,0,0,12.86-3.1,22,22,0,0,0,8.77-8.82,27.09,27.09,0,0,0,3.14-13.27V99.44Z" style="fill:#441f00"/><circle cx="134.5" cy="242.21" r="5.21" style="fill:#441f00"/><circle cx="358.3" cy="242.21" r="5.21" style="fill:#441f00"/><text transform="translate(157.63 255.49)" style="font-size:49.00413131713867px;fill:#441f00;font-family:Cinzel-Black, Cinzel;font-weight:800;letter-spacing:0.24498691785913262em">t<tspan x="42.04" y="0" style="letter-spacing:0.24000487617330005em">our</tspan></text><rect x="102.74" y="208.97" width="286.76" height="2.45" style="fill:#441f00"/><polygon points="108.95 440.86 121.78 413.53 366.74 413.53 379.76 440.86 108.95 440.86" style="fill:#295293"/><path d="M244.36,316.45c-68.65-.07-111.25-6.72-111.25-6.72V311l8.29,26.84H347.31L355.6,311v-1.28S313,316.38,244.36,316.45Z" style="fill:#3a76ba"/><polygon points="128.85 356.28 359.86 356.28 347.31 337.85 141.4 337.85 128.85 356.28" style="fill:#295293"/><polygon points="359.86 356.28 128.85 356.28 121.78 413.53 366.74 413.53 367 414.07 359.86 356.28" style="fill:#3a76ba"/><path d="M244.15,5a239.21,239.21,0,0,1,93.08,459.5A239.21,239.21,0,0,1,151.06,23.79,237.64,237.64,0,0,1,244.15,5m0-5C109.31,0,0,109.31,0,244.15S109.31,488.29,244.15,488.29,488.29,379,488.29,244.15,379,0,244.15,0Z" style="fill:#441f00"/></g></g></svg>

                  </amp-story-grid-layer>

                </amp-story-page>
                
                <amp-story-page auto-advance-after="15s" id="page2">

                  <amp-story-grid-layer template="fill">
                    <amp-img class="slide_x" src="/img/rotas/rota-01-02.jpg"
                        width="720" height="1280"
                        layout="responsive">
                    </amp-img>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="fill">
                    <p class="fundo-padrao"></p>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="thirds">
                    <h1>Título</h1>
                    <p 
                    animate-in="fly-in-right"
                    animate-in-delay=".7s"
                    animate-in-duration="1s"
                    grid-area="lower-third">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo.</p>
                  </amp-story-grid-layer>

                </amp-story-page>

                <amp-story-page auto-advance-after="15s" id="page3">

                  <amp-story-grid-layer template="fill">
                    <amp-img class="slide_x" src="/img/rotas/rota-01-03.jpg"
                        width="720" height="1280"
                        layout="responsive">
                    </amp-img>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="fill">
                    <p class="fundo-padrao"></p>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="thirds">
                    <h1>Titulo</h1>
                    <p 
                    animate-in="drop"
                    animate-in-delay=".7s"
                    animate-in-duration="1s"
                    grid-area="lower-third">Lorem ipsum dolor sit amet consectetur, adipisicing elit. In.</p>
                  </amp-story-grid-layer>

                </amp-story-page>

                <amp-story-page auto-advance-after="15s" id="page4">

                  <amp-story-grid-layer template="fill">
                    <amp-img class="slide_x" src="/img/rotas/rota-01-04.jpg"
                        width="720" height="1280"
                        layout="responsive">
                    </amp-img>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="fill">
                    <p class="fundo-padrao"></p>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="thirds">
                    <h1>Título</h1>
                    <p 
                    animate-in="pulse"
                    animate-in-delay=".7s"
                    animate-in-duration="1s"
                    grid-area="lower-third">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, laudantium sunt?</p>
                  </amp-story-grid-layer>

                </amp-story-page>

                <amp-story-page auto-advance-after="15s" id="page5">

                  <amp-story-grid-layer template="fill">
                    <amp-img class="slide_x" src="/img/rotas/rota-01-05.jpg"
                        width="720" height="1280"
                        layout="responsive">
                    </amp-img>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="fill">
                    <p class="fundo-padrao"></p>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="thirds">
                    <h1>Título</h1>
                    <p 
                    animate-in="whoosh-in-right"
                    animate-in-delay=".7s"
                    animate-in-duration="1s"
                    grid-area="lower-third">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, veritatis?</p>
                  </amp-story-grid-layer>

                </amp-story-page>

                <amp-story-page auto-advance-after="15s" id="page6">

                  <amp-story-grid-layer template="fill">
                    <amp-img class="slide_x" src="/img/rotas/rota-01-06.jpg"
                        width="720" height="1280"
                        layout="responsive">
                    </amp-img>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="fill">
                    <p class="fundo-padrao"></p>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer template="vertical" class="center-text">
                    <p 
                    class="banner-text"
                    animate-in="whoosh-in-right">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                  </amp-story-grid-layer>

                  <amp-story-grid-layer  template="thirds">
                    <a 
                    href="/"
                    target="_blank"
                    class="botao"
                    grid-area="lower-third">
                    Aqui</a>
                  </amp-story-grid-layer>

                </amp-story-page>
                <amp-story-bookend src="/assets/bookend.json" layout="nodisplay"></amp-story-bookend>
    </amp-story>
  </body>
</html>