<div class="navigation nao-imprimir">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
        <label for="navi-toggle" class="navigation__button">
          <span class="navigation__icon">&nbsp;</span>
        </label>
        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
          <ul class="navigation__list">           
            <li class="navigation__item">
              <a class="navigation__link" href="/" class="">Home</a>
            </li>                                   
            <li class="navigation__item">
              <a class="navigation__link" href="/rotas">waterfalls</a>
            </li> 
            <li class="navigation__item">
              <a onclick="document.getElementById('navi-toggle').checked = false;" class="navigation__link" href="/#quem">About</a>
            </li>            
            <li class="navigation__item">
              <a onclick="document.getElementById('navi-toggle').checked = false;" class="navigation__link" href="/#testemunhos">testimonials</a>
            </li>            
            <li class="navigation__item">
              <a onclick="document.getElementById('navi-toggle').checked = false;" class="navigation__link" href="/#contatos">contact</a>
            </li>            
          </ul>
        </nav>
</div>

<nav class="nav-bar nao-imprimir">
        <div class="nav-bar__logos">          
            <a href="/"><span class="correcao-invisivel">home</span>
             <svg class="nav-bar__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488.29 488.53"><g id="Layer_2" data-name="Layer 2"><g id="Juju_Logo" data-name="Juju Logo"><circle cx="244.15" cy="244.15" r="244.15" style="fill:#fff"/><path d="M123,299.78l-13.86-5.86L97.4,289.65l-21.86,6.4L51,289.65,4.5,292.21A244.7,244.7,0,0,0,128.85,459.66V356.28l13.86-20.79-10.13-26.12Z" style="fill:#085126"/><path d="M365.73,299.78l13.86-5.86,11.72-4.27,21.86,6.4,24.52-6.4,46.52,2.56A244.7,244.7,0,0,1,359.86,459.66V356.28L346,335.49l10.13-26.12Z" style="fill:#085126"/><path d="M244.36,440.86H109v6.88a243.26,243.26,0,0,0,135.2,40.79h.41a243.26,243.26,0,0,0,135.2-40.79v-6.88Z" style="fill:#3a76ba"/><path d="M193.64,190.49q-6.1-6.77-6.1-20.1v-71h19.79V169.6a22,22,0,0,0,.94,7.23,4.45,4.45,0,0,0,8.06,0,21.77,21.77,0,0,0,.95-7.28V99.34h19.79v71q0,13.32-6.1,20.1t-18.67,6.78Q199.75,197.27,193.64,190.49Z" style="fill:#441f00"/><path d="M310.9,190.59q-6.11-6.76-6.1-20.1V99.44h19.79V169.7a21.66,21.66,0,0,0,1,7.23,4.44,4.44,0,0,0,8,0,21.51,21.51,0,0,0,1-7.28V99.44h19.79v71.05q0,13.32-6.1,20.1t-18.66,6.78Q317,197.37,310.9,190.59Z" style="fill:#441f00"/><path d="M158,99.44V174.1a6.28,6.28,0,0,1-1.13,4A4.76,4.76,0,0,1,150,178a6.8,6.8,0,0,1-1.13-4.12V150.72h-20V175a21.78,21.78,0,0,0,3.26,12.14,20.57,20.57,0,0,0,8.94,7.62,30,30,0,0,0,12.68,2.6,26.17,26.17,0,0,0,12.86-3.1,22,22,0,0,0,8.77-8.82,27.09,27.09,0,0,0,3.14-13.27V99.44Z" style="fill:#441f00"/><path d="M275.26,99.44V174.1a6.28,6.28,0,0,1-1.13,4,4.76,4.76,0,0,1-6.87-.11,6.8,6.8,0,0,1-1.13-4.12V150.72h-20V175a21.86,21.86,0,0,0,3.26,12.14,20.57,20.57,0,0,0,8.94,7.62,30.08,30.08,0,0,0,12.68,2.6,26.17,26.17,0,0,0,12.86-3.1,22,22,0,0,0,8.77-8.82,27.09,27.09,0,0,0,3.14-13.27V99.44Z" style="fill:#441f00"/><circle cx="134.5" cy="242.21" r="5.21" style="fill:#441f00"/><circle cx="358.3" cy="242.21" r="5.21" style="fill:#441f00"/><text transform="translate(157.63 255.49)" style="font-size:49.00413131713867px;fill:#441f00;font-family:Cinzel-Black, Cinzel;font-weight:800;letter-spacing:0.24498691785913262em">t<tspan x="42.04" y="0" style="letter-spacing:0.24000487617330005em">our</tspan></text><rect x="102.74" y="208.97" width="286.76" height="2.45" style="fill:#441f00"/><polygon points="108.95 440.86 121.78 413.53 366.74 413.53 379.76 440.86 108.95 440.86" style="fill:#295293"/><path d="M244.36,316.45c-68.65-.07-111.25-6.72-111.25-6.72V311l8.29,26.84H347.31L355.6,311v-1.28S313,316.38,244.36,316.45Z" style="fill:#3a76ba"/><polygon points="128.85 356.28 359.86 356.28 347.31 337.85 141.4 337.85 128.85 356.28" style="fill:#295293"/><polygon points="359.86 356.28 128.85 356.28 121.78 413.53 366.74 413.53 367 414.07 359.86 356.28" style="fill:#3a76ba"/><path d="M244.15,5a239.21,239.21,0,0,1,93.08,459.5A239.21,239.21,0,0,1,151.06,23.79,237.64,237.64,0,0,1,244.15,5m0-5C109.31,0,0,109.31,0,244.15S109.31,488.29,244.15,488.29,488.29,379,488.29,244.15,379,0,244.15,0Z" style="fill:#441f00"/></g></g></svg>     
        </div>
        <ul class="nav-bar__icons-lista">
          <li class="nav-bar__icons-item"><a class="nav-bar__icons-link" href="https://api.whatsapp.com/send?phone=559293590738"><img width="35px" height="35px" class="icones-pequenos" src="/svg/whats.svg" alt="icone do whatsapp">
            <span class="correcao-invisivel">+00 00 00000-2100</span></a>
          </li>
          <li class="nav-bar__icons-item"><a class="nav-bar__icons-link" href="https://www.instagram.com/talvezobruno"><img width="35px" height="35px" class="icones-pequenos" src="/svg/instagram.svg" alt="icone do local">
                  @talvezobruno</a>
          </li>
          <li class="nav-bar__icons-item"> <a class="nav-bar__icons-link" target="_blank" href="mailto:contato@meuemail.com.br"><img width="35px" height="35px" class="icones-pequenos" src="/svg/email.svg" alt="icone do whatsapp">
                 contato@meuemail.com.br</a>
          </li>
        </ul>
        <ul  class="no-medium nav-bar__list">
                <li class="nav-bar__item nav-bar__fundamentos"><a href="/" class="nav-bar__link">Home</a></li>
                <li class="nav-bar__item nav-bar__fundamentos"><a href="/rotas" class="nav-bar__link">waterfalls</a></li>
                <li class="nav-bar__item nav-bar__fundamentos"><a href="/#quem" class="nav-bar__link">about</a></li>
                <li class="nav-bar__item nav-bar__fundamentos"><a href="/#testemunhos" class="nav-bar__link">testimonials</a></li>
                <li class="nav-bar__item nav-bar__fundamentos"><a href="/#contatos" class="nav-bar__link">contact</a></li>
        </ul>
 </nav>       