.quem {

  margin: 2rem 0 0 0;
  position: relative;

  @media only screen and (max-width: $bp-small) {
        display: flex;
        flex-direction: column; 
  }
  
  
  &__picture { 
        z-index: 1;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;  

        @media only screen and (max-width: $bp-small) {
                position: initial;
                top: initial;  
        }

  }

  &__picture-movel { 
        display: none;
        order: 3;

        @media only screen and (max-width: $bp-small) {
                display: block; 
        }

  }

  &__imagem {
          width: 100%;
          height: auto;
  }

  &__texto {
          font-size: 1.25rem;
          z-index: 2;
          position: absolute;
          top: 0;
          transform: translate(0, 30%);
          right: 5%;
          width: 40%;
          height: max-content;
          margin: 0;
          background-color: #fff;
          padding: 3rem 4rem;
          box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, .15);
          border-radius: .75rem;

          @media only screen and (max-width: 1125px){
                  transform: translate(0, 20%); 
          }

          @media only screen and (max-width: $bp-extra-large) {                
                  padding: 1.75rem 3rem;
                  transform: translate(0, 12.5%);
                  width: 45%;
          }  

          @media only screen and (max-width: $bp-large) {                
            width: 50%;
          }  

          @media only screen and (max-width: $bp-small) {
            width: 100%;
            position: initial;
            transform: translate(0, 0);
            margin: 2.5rem auto;
          }

          
  }

  &__texto-box {
          font-size: 1.6rem;
          z-index: 2;
          width: 100%;
          background-color: transparent;
          padding-top: 37.5%;
          position: relative;  

        @media only screen and (max-width: $bp-small) {
                padding-top: 0;
                order: 2;
        }
  }

  &__titulo {
          font-size: 2.25rem;
          margin-bottom: 1rem;
          color: $color-terca;
          text-align: center;
          font-family: $font-primary;
          text-transform: uppercase;
  }

  &__paragrafo {
          font-size: 1.6rem;
          margin-bottom: .75rem;
          text-align: center;

          @media only screen and (max-width: $bp-largest){
                  font-size: 1.5rem;    
          }

          @media only screen and (max-width: $bp-small){
                width: 70%;
                margin: 0 auto; 
        }
          
  }

}