<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Not Found</title>

    <%- include('../partials/header/header-administrativo') %>
  </head>
  <body>
    <%- include('../partials/header/nav-bar') %>

    <div class="page404">
      <div class="page404__bloco">
        <div class="page404__texto">
          <h1>
            Sorry, we couldn't find your page.
          </h1>
        </div>
        <div class="page404__error">
          <h2>404 error</h2>
        </div>
      </div>
    </div>

    <%- include('../partials/componentes/footer') %>
  </body>
</html>
